footer {
    grid-area: side;


    background: var(--back);
    width: 80%;
    min-height: 250px;
    max-height: 100%;

    display: block;
    margin: auto;
    margin-top: 1em;
    padding: 1em;

    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.5;

    border-top: 5px double var(--head-3);
}

.side_buttons {
    background-color: var(--head-4);
    color: var(--back);
    outline: 5px double var(--head-3);
    outline-offset: 2px;

    margin: 1em auto;
}

.side_buttons2 {
    background-color: var(--back);
    color: var(--color);
    outline: 5px double var(--head-3);
    outline-offset: 2px;

    margin: 1em auto;
}
