<aside id="aside">
    <section id="side">
        <div class="inner">
            <div class="buttons">
                <img class="buttonBig" src={{ "src/img/Shroom.Ink.gif" | relative_url }} alt="Shroom.Ink button">
                <a target="_blank" href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34168-a4">
                    <img class="buttonBig" src={{ "src/img/buttons/GuestBook.gif" | relative_url }} alt="Sign My Guestbook">
                </a>
            </div>

            <details>
                <summary>🌱 Webrings 🌱</summary>
                <div class="button">
                <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#2689a6" type="image/svg+xml" style="width: 100px; height: 100px; margin:5px;"></object>
                </div>
                <div class="webring">
                    <div class="web-head">The retronaut webring</div>
                    <div class="web-links">
                        <a href='https://webring.dinhe.net/prev/https://shroom.ink/'>Prev</a>
                        |
                        <a target="_blank" href="https://webring.dinhe.net">Home</a>
                        |
                        <a href='https://webring.dinhe.net/next/https://shroom.ink/'>Next</a>
                    </div>
                </div>

                <div class="webring">
                    <div class="web-head">Cuddler Webring</div>
                    <div class="web-links">
                        <a target="_blank" href="https://cuddler-webring.netlify.app/">Home</a>
                    </div>
                </div>

                <iframe src="https://void.shroom.ink/widget/?slug=ink&hex=" height="250px" width="200px" scrolling="no" frameborder="0"></iframe>

                <div style="width: 80%; margin: auto;">
                    <script src="https://jeith.neocities.org/assets/webring/wii-ring.js"></script>
                    <wii-ring site="https://shroom.ink" variant="family-edition-blue"></wii-ring>
                </div>
                <div class="webring">
                    <div class="web-head">Acing the Internet</div>
                    <div class="web-links">
                        <a href="https://acingtheinternet.netlify.app/shroomink/previous">back</a> | <a target="_blank" href="https://acingtheinternet.netlify.app"><img src="https://punkwasp.neocities.org/images/buttons/asexuals_now.gif" alt="A button saying asexuals now"></a> | <a href="https://acingtheinternet.netlify.app/shroomink/next">next</a>
                    </div>
                </div>
                <div class="webring" style="display:flex;">
                <qtpoc-webring>
                    <a href="https://qtpoc-ring.netlify.app/previous"><<</a>
                    <a href="https://qtpoc-ring.netlify.app/random">?</a>
                    <span>QTPOC Webring</span>
                    <a href="https://qtpoc-ring.netlify.app">#</a>
                    <a href="https://qtpoc-ring.netlify.app/next">>></a>
                </qtpoc-webring>
                <script async="" charset="utf-8" src="https://qtpoc-ring.netlify.app/embed.js"></script>
                </div>
            </details>

            <details>
                <summary>💀 Cliques 💀</summary>
                <p class="center">
                    <a target="_blank" href="http://aromatic.wings.nu/">aromatic</a> // baked roadkill and mushrooms
                </p>
            	<div class="buttons">
                    <a target="_blank" href="https://smol.shroom.ink/32bit/skeleton-romantic"><img src="src/img/buttons/skeleton_romantic_button.jpg" alt="I am skeleton-romantic."></a>
            	</div>
            </details>

            <details>
                <summary>👻 Fanlistings 👻</summary>
                <a target="_blank" href="https://web.archive.org/web/20240422230304/https://fl.hrzblt.eu/pluto/"><img src="src/img/buttons/Pluto.png" alt="Pluto"></a>
            </details>
        </div>
    </section>
    <img src={{ "src/img/inkle/shroomyuri.png" | relative_url }} id="shroomyuri" title="Inkle & Izz sharing a kiss.">
</aside>
