<footer>
    <div class="button">
        <a href="https://www.imood.com/users/RodFire8181"><img src="https://moods.imood.com/display/uname-RodFire8181/fg-ffffff/bg-000000/imood.gif" alt="The current mood of RodFire8181 at www.imood.com" border="0" style="width: 80px;"></a>
    </div>
    <div class="buttons">
        <a title="Shroom.Ink" target="_blank" href="https://shroom.ink"><img src="{{.Page.Site.BaseURL}}/images/buttons/Shroom.Ink.gif"></a>
        <a target="_blank" href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34168-a4"><img alt="Guestbook" border="0" src="{{.Page.Site.BaseURL}}/images/buttons/GuestBook.gif" width="80" height="40"></a>
    </div>

    <!-- Buttons & Webring & Etc -->

    <details class="side_buttons2">
        <summary class="center">🍄 Buttons 🍄</summary>
        <div class="images">
            <a target="_blank" href="https://www.deviantart.com/oceanstamps/art/Amanita-muscaria-stamp-512931703"><img src="/images/bottom/mushroom.png" alt="Mushrooms stamp"></a>

            <img src="/images/bottom/acab.png" alt="ACAB 1312 stamp">

            <img src="/images/bottom/BLM.png" alt="Black Lives Matter stamp">

            <a target="_blank" title="Webpage rated 14 & up" href="http://www.mabsland.com/Adoption.html"><img src="/images/bottom/Censor_14c.gif" alt="Web 14"></a>

            <img src="/images/buttons/b-parentaladvisory3.png" alt="Parental Advisory: I'm an adult yo">

            <a target="_blank" href="https://yesterweb.org/no-to-web3/" title="Say No to Web3"><img src="/images/bottom/roly-saynotoweb3.gif" alt="Say No to Web3"></a>

            <img src="/images/bottom/defund_badge.gif" alt="Defund the Police">

            <img src="/images/bottom/nofuckingthanks.gif" alt="Not to NFTs - No Fucking Thanks">

            <img src="/images/bottom/mikuapproved.gif" alt="Hatsune Miku Approved">

            <img src="/images/bottom/Queen.gif" alt="Queen from Deltarune">

            <img src="/images/bottom/queer.png" alt="You're telling me a queer coded this?">

            <img src="/images/bottom/wheretfarewe.png" alt="Kris, where the fuck are we??">

    		<img src="/images/bottom/oldmanyaoi.jpg" alt="Old man yaoi, now!">

            <a target="_blank" title="howdy@shroom.ink" href="mailto:howdy@shroom.ink"><img src="/images/bottom/email.gif" alt="Email me if you have questions or feedback."></a>

            <!-- Stamps -->
            <img src="/images/bottom/mettaton.png" alt="Mettaton being trans is canon.">

            <img src="/images/bottom/miku.gif" alt="Hatsune Miku gif">

            <img src="/images/bottom/I wish.png" alt="I wish I didn't have anxiety.">

            <img src="/images/bottom/wub.png" alt="I listen to WUB">

            <img src="/images/bottom/mimikyu.png" alt="I love Mimikyu">

            <img src="/images/bottom/squidward.png" alt="I relate to Squidward">

            <img src="/images/bottom/thatsgay.gif" alt="That's gay.">

        </div>
    </details>

    <details class="side_buttons2">
        <summary>🌱 Webrings 🌱</summary>
        <div class="button">
        <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#2689a6" type="image/svg+xml" style="width: 100px; height: 100px; margin:5px;"></object>
        </div>
        <div class="webring">
            <div class="web-head">The retronaut webring</div>
            <div class="web-links">
                <a href='https://webring.dinhe.net/prev/https://shroom.ink/'>Prev</a>
                |
                <a target="_blank" href="https://webring.dinhe.net">Home</a>
                |
                <a href='https://webring.dinhe.net/next/https://shroom.ink/'>Next</a>
            </div>
        </div>

        <div class="webring">
            <div class="web-head">Cuddler Webring</div>
            <div class="web-links">
                <a target="_blank" href="https://cuddler-webring.netlify.app/">Home</a>
            </div>
        </div>

        <iframe src="https://void.shroom.ink/widget/?slug=ink&hex=" height="250px" width="200px" scrolling="no" frameborder="0"></iframe>

        <div style="width: 80%; margin: auto;">
            <script src="https://jeith.neocities.org/assets/webring/wii-ring.js"></script>
            <wii-ring site="https://shroom.ink" variant="family-edition-blue"></wii-ring>
        </div>
        <div class="webring">
            <div class="web-head">Acing the Internet</div>
            <div class="web-links">
                <a href="https://acingtheinternet.netlify.app/shroomink/previous">back</a> | <a target="_blank" href="https://acingtheinternet.netlify.app"><img src="https://punkwasp.neocities.org/images/buttons/asexuals_now.gif" alt="A button saying asexuals now"></a> | <a href="https://acingtheinternet.netlify.app/shroomink/next">next</a>
            </div>
        </div>
        <div class="webring" style="display:flex;">
        <qtpoc-webring>
            <a href="https://qtpoc-ring.netlify.app/previous"><<</a>
            <a href="https://qtpoc-ring.netlify.app/random">?</a>
            <span>QTPOC Webring</span>
            <a href="https://qtpoc-ring.netlify.app">#</a>
            <a href="https://qtpoc-ring.netlify.app/next">>></a>
        </qtpoc-webring>
        <script async="" charset="utf-8" src="https://qtpoc-ring.netlify.app/embed.js"></script>
        </div>
    </details>

    <details class="side_buttons2">
        <summary>💀 Cliques 💀</summary>
        <a target="_blank" href="http://aromatic.wings.nu/">aromatic</a> // baked roadkill and mushrooms
    	<div class="buttons">
    		<a target="_blank" href="https://smol.shroom.ink/32bit/skeleton-romantic"><img src="/images/bottom/skeleton_romantic_button.jpg" alt="I am skeleton-romantic."></a>
    	</div>
    </details>

    <details class="side_buttons2">
        <summary>👻 Fanlistings 👻</summary>
        <a target="_blank" href="https://fl.hrzblt.eu/pluto/"><img src="/images/bottom/Pluto.png" alt="Pluto"></a>
    </details>

</footer>
