<div class="h-card">
    <a class="p-name u-url" href="https://shroom.ink/">Rodrick</a>
    <span class="p-nickname">RodFireProductions</span>
    <span class="p-gender-identity">they/them</span>
    <a class="u-email" href="mailto:howdy@shroom.ink">howdy@shroom.ink</a>
    <img class="u-photo" src={{ "images/pfp2.jpg" | relative_url }}>
    <div class="p-country-name">USA</div>
    <div class="p-note">
        A cringy artist, web dev, and game dev.
        Just trying to see the silliness in this dark world.
    </div>
</div>
