<nav id="nav">
    <ul>
        <li>
            <a href="{{ "/" | relative_url }}">Home</a>
        </li>
        <li>
            <a href="{{ "/adopt-a-shroom.html" | relative_url }}">Adopt a Shroom!</a>
        </li>
        <li>
            <a href="{{ "/links.html" | relative_url }}">Links</a>
        </li>
        <li>
            <a href="{{ "/sitemap.html" | relative_url }}">Sitemap</a>
        </li>
        <li>
            <a href="{{ "/now.html" | relative_url }}">Now</a>
        </li>
        <li>
            <a href="{{ "/webmaster.html" | relative_url }}">Webmaster</a>
        </li>
    </ul>
</nav>
