<!doctype html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href={{ "src/css/shroom.css" | relative_url }}>
        <!-- Socials -->
        <link href="mailto:howdy@shroom.ink" rel="me">
        <link href="https://github.com/RodFireProductions" rel="me">
        <!---->
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include navigation.html %}
        <div id="page">
            <main>
                {% include header.html %}
                {{ content }}
            </main>
            {% include footer.html %}
        </div>
        {% include aside.html %}
        {% include grass.html %}
        {% include h-card.html %}
    </body>
</html>
